body {
    background-color: #70b5b5;
    font-family: 'Arial', sans-serif
    
}

p {
    color: #000000;
    font-size: 18px;
}

h1, h2, h3 {
    text-align: center;
    color: #26384b; /* Darker color for headings for better contrast */
    margin-bottom: 15px;
}

h1 {
    font-size: 2.5em;
    color: #1e2936
}

h1, h2, h3, p {
    margin-bottom: 20px;
}
